@font-face {
  font-family: 'jaapokki';
  src: url(Jaapokkisubtract-Regular.otf);
}

@font-face {
  font-family: 'baron-neue';
  src: url(Baron-Neue.otf);
}

$rock: 'Rock Salt';
$baron: 'baron-neue';
$jaapokki: 'jaapokki';
/* $2p: 'Press Start 2P'; */
