@import "colors";
@import "fonts";

html {
  background-image: url("/assets/back-and-trees.jpeg");
  background-size: cover;
  background-position: 0px -165px,
                        center;
  background-repeat: no-repeat;
  position: relative;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.title {
  text-align: center;
  /* font-family: $2p; */
  color: white;
}

#binding {
  height: 540px;
  width: 940px;
  margin: 0 auto;
  margin-bottom: 30px;
}

canvas {
  border: solid 1px black;
}

nav {
  display: text-center;
  font-family: $jaapokki;
  margin-bottom: 100px;
}

nav ul {
  overflow: auto;
  margin:0;
	padding:0;
}

nav li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  float: right;
  padding: 10px 15px;
  color: white;
  font-size: 20px;
}

nav ul li a:hover {
  color: $bone;
}

table {
  /* font-family: $2p; */
  border-collapse: collapse;
  margin: 0 auto;
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-top: 1px solid white;
}

th, td {
  border-bottom: 1px solid white;
  padding: 10px;
  text-align: center;
}

.high-scores{
  color: white;
  text-align: center;
  margin-bottom: 40px;
}

input[type="text"] {
  /* font-family: $2p; */
  text-align: center;
}

.submit {
  /* font-family: $2p; */
}

.margin-right-100 {
  margin-right: 50px;
}

.margin-left-100 {
  margin-left: 50px;
}

.left-nav {
  float: left;
}

.binding {
  margin: 0 auto;
}

.intro {
  height: 200px;
  width: 50%;
  text-align: center;
  margin: 0px auto;
  color: white;
}

.intro h1 {
  font-family: $rock;
  font-size: 60px;
  margin: 0px;
}

.intro h3 {
  font-family: $baron;
  font-size: 26px;
  margin: 10px;
}
