@import "colors";

html {
  background: $brown
}

.title {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

#foo {
  height: 540px;
  width: 940px;
  margin: 0 auto;
  margin-bottom: 30px;
}

canvas {
  border: solid 1px black;
}

.nav {

}

.nav ul {
  list-style-type: none;
}

.nav li {
  display: inline-block;
  float: left;
  margin-right: 10px;
}

.binding {
  clear: both;
}
