@import "colors";

html {
  background: $brown;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.title {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  color: white;
}

#binding {
  height: 540px;
  width: 940px;
  margin: 0 auto;
  margin-bottom: 30px;
}

canvas {
  border: solid 1px black;
}

nav {
  margin-bottom: 20px;
}

nav ul {
  overflow: auto;
  margin:0;
	padding:0;
}

nav li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  float: left;
  padding: 10px 20px;
}

table {
  font-family: 'Press Start 2P', cursive;
  border-collapse: collapse;
  margin: 0 auto;
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-top: 1px solid white;
}

th, td {
  border-bottom: 1px solid white;
  padding: 10px;
  text-align: center;
}

.high-scores{
  color: white;
  text-align: center;
  margin-bottom: 40px;
}

input[type="text"] {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

.submit {
  font-family: 'Press Start 2P', cursive;
}
