<nav>
  <ul>
    <li class="left-nav margin-left-100">Steven Turek</li>
    <li class="margin-right-100">{{#link-to 'resume'}}Resume{{/link-to}}</li>
    <li>{{#link-to 'blog'}}Blog{{/link-to}}</li>
    <li>{{#link-to 'games.index'}}Games{{/link-to}}</li>
  </ul>
</nav>



{{outlet}}
