<nav>
  <ul>
    <li class="left-nav margin-left-100">{{#link-to 'index'}}SMTUREK.COM{{/link-to}}</li>
    <li class="margin-right-100"><a href="//www.linkedin.com/in/smturek"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
    <li><a href="https://github.com/smturek"><i class="fa fa-github-square fa-lg"></i></a></li>
    <li><a href="https://twitter.com/smturek"><i class="fa fa-twitter fa-lg"></i></a></li>
    <li>{{#link-to 'games.index'}}GAMES{{/link-to}}</li>
    <li>{{#link-to 'portfolio'}}PORTFOLIO{{/link-to}}</li>
  </ul>
</nav>

<div class="intro">
  <h1>Steven Turek</h1>
  <h3>Full Stack Developer</h3>

</div>



{{outlet}}
