<div class="nav">
  <ul>
    <li>{{#link-to 'resume'}}Resume{{/link-to}}</li>
    <li>{{#link-to 'blog'}}Blog{{/link-to}}</li>
    <li>{{#link-to 'games.index'}}Games{{/link-to}}</li>
  </ul>
</div>

{{outlet}}
