<nav>
  <ul>
    <li class="left-nav margin-left-100">{{#link-to 'home'}}SMTUREK.COM{{/link-to}}</li>
    <li class="margin-right-100"><a href="//www.linkedin.com/in/smturek"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
    <li><a href="https://github.com/smturek"><i class="fa fa-github-square fa-lg"></i></a></li>
    <li><a href="https://twitter.com/smturek"><i class="fa fa-twitter fa-lg"></i></a></li>
    <li>{{#link-to 'portfolio'}}PORTFOLIO{{/link-to}}</li>
  </ul>
</nav>

{{outlet}}
