<div class="nav">
  <ul>
    <li>{{#link-to 'resume'}}Resume{{/link-to}}</li>
    <li>{{#link-to 'blog'}}Blog{{/link-to}}</li>
    <li>
      {{#link-to 'games.index'}}Games{{/link-to}}
      <ul class="hidden">
        <li>{{#link-to 'games.binding'}}Binding of Pry-saac{{/link-to}}</li>
      </ul>
    </li>
  </ul>
</div>

{{outlet}}
