
{{#link-to 'games.binding'}}<h1 class="title first-portfolio">The Binding of Pry-saac</h1>{{/link-to}}

<div class="project">
  {{#link-to 'games.binding'}}<img src="/assets/binding.png"/>{{/link-to}}
</div>

<div class="project-description">

  <ul>
    <li>
      <p>
        Roguelike Bullet-Hell - Battle vicious bug whose only goal is to end your life
      </p>
    </li>

    <li>
      <p>
        Never Ending, Randomly Generated Levels - No two playthroughs are ever the same
      </p>
    </li>

    <li>
      <p>
        Multiple Bug Classes who employ different tactics to kill you, and get stronger with each level
      </p>
    </li>

    <li>
      <p>
        Monsters occasionally drop power-ups to help you on your way
      </p>
    </li>

    <li>
      <p>
        Global High Scores - Keep track of personal bests and challenge your friends to beat your high score
      </p>
    </li>

    <li>
      <p>
        Written in Javascript using the Phaser library
      </p>
    </li>

  </ul>
</div>
